<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.adamfarmer.notionremindersync.refresh</string>
		<string>dev.adamfarmer.notionremindersync.processing</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.adamfarmer.notionremindersync</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>n</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSRemindersUsageDescription</key>
	<string>NotionRemindersSync needs access to your Reminders to sync them with Notion.</string>
	<key>CFBundleDisplayName</key>
	<string>Notion Reminders Sync</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>systemBackgroundColor</string>
	</dict>
	<key>UILaunchScreen_Generation</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
